.barraDescuentos {
    background-color: rgb(33, 177, 50);
    color: aliceblue;
    height: 38px;
    width: auto;
    align-items: center;
    display: flex;
}
.titulo {
    background-color: rgb(69, 69, 216);
    color: aliceblue;
    height: 101px;
    width: auto;
    align-items: center;
    display: flex;
}
.tarjeta {
    display: flex;
    flex-direction:row
}